@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
    margin: 0;
}

a {
    color: var(--first-text-color);
    text-decoration: none;
    display: block;
    outline: none;
    transition: .3s ease-in-out;
}

a:hover {
    color: var(--hover-a-color);
    text-decoration: none;
}

h1 {
    color: var(--first-text-color);
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    color: #333333;
}

.header {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg, var(--first-primary-color) 0%, var(--second-primary-color) 100%);
    color: white;
    width: 100%;
}

.customButton {
    float: left;
    width: 100%;
    color: black;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.customButton a {
    float: left;
    text-decoration: none;
    width: 100%;
    font: 25px Raleway;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.customButtonPullDown a:before {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 0;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

.customButtonPullDown a:hover:before {
    height: 110%;
}

.aLeft {
    padding-top: 5px;
    float: left;
}

.aLeft img {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    float: left;
}

.aRight {
    padding-left: 5px;
    float: left;
}

@media only screen and (min-width: 68px) and (max-width: 1299px) {

    .btn {
        visibility: hidden;
    }

    .inner-header-logo {
        height: 0;
        opacity: 0;
    }

    .inner-header-header {
        color: var(--first-text-color);
        float: left;
        width: 100%;
        font-size: 9vw;
        padding-top: 20px;
    }

    .inner-header {
        float: left;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .inner-header-logo {
        visibility: hidden;
    }


    * {
        box-sizing: border-box;
    }

    .logo {
        color: #D5B45B;
        font-family: 'Playfair Display', serif;
        font-size: 2.5em;
        padding: 20px 0;
    }

    nav {
        display: table;
        margin: 0 auto;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .infoMenu {
        position: absolute;
        top: 10px;
        right: 20px;
    }

    .topmenu:after {
        content: "";
        display: table;
        clear: both;
    }

    .topmenu > li {
        float: left;
        position: relative;
        font-family: 'Lato', sans-serif;
    }

    .topmenu > li > a {
        font-size: 20px;
        font-weight: bold;
        color: var(--first-text-color);
        padding: 15px 30px;
    }

    .topmenu li a:hover {
        color: var(--hover-a-color);
    }

    .submenu-link:after {
        content: "\f107";
        font-family: 'Lato', sans-serif;
        color: inherit;
        margin-left: 10px;
    }

    .submenu {
        background: rgba(54, 54, 54, 0.6);
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 5;
        width: 180px;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: 0 0;
        transition: .5s ease-in-out;
    }

    .submenu a {
        color: white;
        text-align: left;
        padding: 12px 15px;
        font-size: 13px;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
    }

    .submenu li:last-child a {
        border-bottom: none;
    }

    .topmenu > li:hover .submenu {
        opacity: 1;
        transform: scaleY(1);
    }
}

@media only screen and (min-width: 1300px) {

    .inner-header {
        height: 70px;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .inner-header-header {
        position: absolute;
        width: 100%;
        padding-left: 100px;
        text-align: left;
        font-size: 60px;
        top: 0;
    }

    .inner-header-logo {
        visibility: hidden;
    }


    * {
        box-sizing: border-box;
    }

    .logo {
        color: #D5B45B;
        font-family: 'Playfair Display', serif;
        font-size: 2.5em;
        padding: 20px 0;
    }

    nav {
        display: table;
        margin: 0 auto;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .infoMenu {
        position: absolute;
        top: 10px;
        right: 20px;
    }

    .topmenu:after {
        content: "";
        display: table;
        clear: both;
    }

    .topmenu > li {
        float: left;
        position: relative;
        font-family: 'Lato', sans-serif;
    }

    .topmenu > li > a {
        font-size: 20px;
        font-weight: bold;
        color: var(--first-text-color);
        padding: 15px 30px;
    }

    .topmenu li a:hover {
        color: var(--hover-a-color);
    }

    .submenu {
        background: rgba(54, 54, 54, 0.6);
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 5;
        width: 180px;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: 0 0;
        transition: .5s ease-in-out;
    }

    .submenu a {
        color: white;
        text-align: left;
        padding: 12px 15px;
        font-size: 13px;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
    }

    .submenu li:last-child a {
        border-bottom: none;
    }

    .topmenu > li:hover .submenu {
        opacity: 1;
        transform: scaleY(1);
    }
}