body {
    font-family: var(--first-font-style);
    margin: auto;
    text-align: center;
    width: 98%;
}

.header {
    float: left;
    height: 100px;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
}

.info {
    width: 20%;
    height: 100px;
    float: right;
    text-align: right;
    padding: 20px 0 10px 0;
}

.logo {
    width: 80%;
    height: 100px;
    float: left;
    padding: 0 16% 0 32%;
}

.logo img {
    width: 100%;
    height: 100px;
}

.header_buttons {
    padding-top: 30px;
    float: left;
    height: 75px;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
}

.header_buttons table {
    width: 80%;
    height: 100%;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;

}

.header_buttons table th {
    width: 25%;
    text-align: center;
}

.tourBody {
    padding-top: 20px;
    float: left;
    height: 1000px;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
}

.tourBody table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.tourBody table .photos {
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
}

.tourBody table .header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    text-decoration: underline;
}

.tourBody table .description {
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    text-align: justify;
}