@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.tourBodyContent {
    margin-left: auto;
    margin-right: auto;
}
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: dimgray;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}














/*@media only screen and (min-width: 450px) and (max-width: 1299px) {*/

/*    .tourBodyContent {*/
/*        width: 90%;*/
/*    }*/

/*    .product-wrapper {*/
/*        width: 100%;*/
/*    }*/

/*    .product {*/
/*        height: 1000px;*/
/*    }*/

/*    .firstHalf img {*/
/*        height: 700px;*/
/*    }*/

/*    .secondHalfName {*/
/*        font-size: 5.3vw;*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 1300px) {*/
/*    .product-wrapper {*/
/*        width: 33.333%;*/
/*    }*/

/*    .product {*/
/*        height: 470px;*/
/*    }*/

/*    .firstHalf img {*/
/*        height: 327px;*/
/*    }*/

/*    .secondHalfName {*/
/*        font-size: 1.7vw;*/
/*    }*/
/*}*/


/*.product {*/
/*    display: block;*/
/*    border: 1px solid #b5e9a7;*/
/*    border-radius: 3px;*/
/*    position: relative;*/
/*    background: #fff;*/
/*    margin: 0 20px 20px 0;*/
/*    text-decoration: none;*/
/*    color: #474747;*/
/*    z-index: 0;*/
/*}*/

/*.products {*/
/*    list-style: none;*/
/*    margin: 0 -20px 0 0;*/
/*    padding: 0;*/
/*}*/

/*.fullCard {*/
/*    position: absolute;*/
/*    float: left;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.firstHalf {*/
/*    position: relative;*/
/*    float: left;*/
/*    width: 100%;*/
/*    height: 70%;*/
/*    background-color: #000000;*/

/*    overflow: hidden;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/

/*    -webkit-transition-duration: 0.3s; !* анимационное выдвижение для всех браузеров*!*/
/*    -moz-transition-duration: 0.3s;*/
/*    -o-transition-duration: 0.3s;*/
/*    transition-duration: 0.3s;*/
/*}*/

/*.firstHalf img {*/
/*    display:block;*/
/*    position: relative;*/
/*    -webkit-transition-duration: 0.3s; !* анимационное выдвижение для всех браузеров*!*/
/*    -moz-transition-duration: 0.3s;*/
/*    -o-transition-duration: 0.3s;*/
/*    transition-duration: 0.3s;*/
/*}*/

/*.secondHalf {*/
/*    font-family: 'Lato', sans-serif;*/
/*    position: relative;*/
/*    float: left;*/
/*    width: 100%;*/
/*    height: 30%;*/
/*    background-color: #696969;*/

/*    color: #fff; !* цвет текста *!*/

/*    -webkit-transition-duration: 0.3s; !* анимационное выдвижение для всех браузеров*!*/
/*    -moz-transition-duration: 0.3s;*/
/*    -o-transition-duration: 0.3s;*/
/*    transition-duration: 0.3s;*/
/*}*/

/*.secondHalfName {*/
/*    width: 100%;*/
/*    padding-left: 15px;*/
/*    text-align: left;*/
/*    !*font-size: 1.7vw;;*!*/
/*    height: 50px;*/
/*    line-height:50px;*/
/*}*/

/*.secondHalfTitle {*/
/*    width: 100%;*/
/*    padding-left: 15px;*/
/*    font-size: 25px;*/
/*    text-align: left;*/
/*    height: 50px;*/
/*    line-height:50px;*/
/*}*/

/*.secondHalfDescription {*/
/*    padding-left: 15px;*/
/*    padding-top: 10px;*/
/*    padding-right: 15px;*/
/*    opacity: 0;*/
/*    -webkit-transition-duration: 0.3s; !* анимационное выдвижение для всех браузеров*!*/
/*    -moz-transition-duration: 0.3s;*/
/*    -o-transition-duration: 0.3s;*/
/*    transition-duration: 0.3s;*/
/*}*/
/*.secondHalfDuration {*/
/*    position:absolute;*/
/*    height: 40px;*/
/*    width: 50%;*/
/*    background-color: #333333;*/
/*    bottom:0;*/
/*    right:0;*/
/*}*/

/*.secondHalfPrice {*/
/*    position:absolute;*/
/*    background-color: #333333;*/
/*    width: 50%;*/
/*    height: 40px;*/
/*    bottom:0;*/
/*    left:0;*/
/*}*/
/*.fullCard:checked {*/
/*    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
/*}*/
/*.fullCard:checked ~ .firstHalf{*/
/*    height: 40%;*/
/*    z-index: 2;*/
/*}*/

/*.fullCard:checked ~ .firstHalf img{*/
/*    z-index: 2;*/
/*    opacity: .3;*/
/*}*/

/*.fullCard:checked ~ .secondHalf{*/
/*    opacity: 1.0;*/
/*    height: 60%;*/
/*    z-index: 3;*/
/*}*/

/*.fullCard:checked ~ .secondHalfDescription{*/
/*    padding-left: 15px;*/
/*    padding-right: 15px;*/
/*    opacity: 1.0;*/
/*    z-index: 3;*/
/*}*/

/*.secondHalfFloaterImg {*/
/*    padding-left: 10px;*/
/*    float: left;*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    line-height:40px;*/
/*}*/
/*.secondHalfFloaterText {*/
/*    padding-left: 20px;*/
/*    float: left;*/
/*    font-size: 25px;*/
/*    height: 40px;*/
/*    line-height:40px;*/
/*}*/

/*.secondHalfFloaterImg img {*/
/*    display:block;*/
/*    height: 100%;*/
/*    line-height:40px;*/
/*}*/


