.body table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.body table td {
    padding: 13px 1%;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}

.ex {
    border: 1px solid gray;
    border-radius: 4px;
    width: 100%;
    height: 600px;
}


.ex:hover {
    opacity: .5;
    background-color: rgb(205, 205, 205);
}

.ex .photo {
    height: 45%;
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;
}

.ex .photo img {
    max-width: 100%;
    max-height: 100%;
}

.ex .photo img:hover {
    max-width: 100%;
    max-height: 100%;
}

.ex .header {
    height: 20%;
    width: 100%;
    font-weight: 700;
    font-size: 22px;
    text-align: left;
    padding: 0 2%;
    text-decoration: underline
}

.ex .type {
    float: left;
    height: 5%;
    width: 100%;
    text-align: left;
    padding: 1% 2%;
    font-weight: 700;
}

.ex .description {
    float: left;
    height: 25%;
    width: 100%;
    padding: 3% 2%;
    text-align: justify;
}

.ex .price {
    float: left;
    height: 5%;
    width: 100%;
    text-align: left;
    padding: 1% 2%;
    font-weight: 700;
    font-size: 19px;
}


.ex .price .priceLabel {
    float: left;
    text-align: left;
}

.ex .price .pricePlace {
    float: left;
    text-align: left;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: dimgray;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}