body {
    height: 100%;
    min-height:100%;
}

head {
    display:none;
    margin:0;
    padding:0;
}

a {
    color: black;
}

a:hover {
    color: #414141;
}

.tourBody {
    padding-top: 20px;
    float: left;
    height: 1000px;
    text-align: center;
    width: 100%;
}