body {
    min-height: 100%;
    height: 100vh;
    font-family: var(--first-font-style);
}

head {
    display: none;
    margin: 0;
    padding: 0;
}

a {
    color: black;
}

a:hover {
    color: #414141;
}

.tourBody {
    padding-top: 20px;
    float: left;
    text-align: center;
    width: 100%;
}