@import 'https://fonts.googleapis.com/css?family=Raleway';

div.btn
{
    color: black;
    font-family: 'Lato', sans-serif;
    margin: 10px auto;
    padding: 10px 0px;;
    text-align: center;
}

div.btn a
{
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}


/* Pull down  */
div.pullDown a:before
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullDown a:hover:before
{
    height: 100%;
}