@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

a {
    color: black;
}

a:hover {
    color: #414141;
}

.header_buttons {
    font-family: 'Noto Sans', sans-serif;
    position: relative;
    background-color: #f5f5f7;
    font-size: 17px;
    float: left;
    height: 50px;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
}

.header_buttons table {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 40%;
    height: 100px;
    float: left;
}

.header_buttons table th {
    width: 25%;
    text-align: center;
}