a {
    color: black;
}

a:hover {
    color: #414141;
}

.header_buttons {
    padding-top: 30px;
    float: left;
    height: 75px;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
}

.header_buttons table {
    width: 80%;
    height: 100%;
    font-size: 25px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;

}

.header_buttons table th {
    width: 25%;
    text-align: center;
}