@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
    margin:0;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight:300;
    letter-spacing: 2px;
    font-size:48px;
}
p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size:14px;
    color: #333333;
}

.header {
    position:relative;
    text-align:center;
    background: linear-gradient(60deg, #333333 0%, #f5f5f7 100%);
    color:white;
}
.logo {
    width:50px;
    fill:white;
    padding-right:15px;
    display:inline-block;
    vertical-align: middle;
}

.inner-header {
    height:100px;
    width:100%;
    margin: 0;
    padding: 0;
}

.flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position:relative;
    width: 100%;
    height:100px;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
}

.content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
}

/* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% {
        transform: translate3d(85px,0,0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height:40px;
        min-height:40px;
    }
    .content {
        height:30vh;
    }
    h1 {
        font-size:24px;
    }
}




.info {
    position: absolute;
    font-family: 'Noto Sans', sans-serif;
    left: 79%;
    top: 32%;
    color: black;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 20%;
    float: right;
}

.info .infoLogo {
    height: 60px;
    font-size: 35px;
    text-align: right;
}

.info .socialNetworking {
    /*     background-color: green; */
}

.info .socialNetworking .callback {
    float: left;
    width: 70%;
}

.info .socialNetworking .callback .callbackText{
    font-size: 17px;
    margin: auto;
    padding-top: 3px;
    text-align: right;
    float: right;
    color: black;
    width: 70%;
}

.info .socialNetworking .callback .callbackLogo {
    float: left;
    width: 30%;
    padding-right: 5px;

}

.info .socialNetworking .callback .callbackLogo img {
    float: right;
    width: 28px;
    height: 28px;
}

.info .socialNetworking .instagram {
    float: left;
    width: 15%;
}

.info .socialNetworking .instagram img {
    float: right;
    width: 28px;
    height: 28px;
}

.info .socialNetworking .facebook {
    float: left;
    width: 15%;
}

.info .socialNetworking .facebook img {
    float: right;
    width: 28px;
    height: 28px;
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 40%;
    height: 100px;
    float: left;
}

.logo img {
    width: 100%;
    height: 100px;
}