@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

.header {
    position: relative;
    float: left;
    height: 100px;
    text-align: center;
    background-color: #333333;
    top: 0;
    left: 0;
    width: 100%;
}

.info {
    position: absolute;
    font-family: 'Noto Sans', sans-serif;
    left: 85%;
    top: 50%;
    color: #d6d6d6;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 40%;
    float: right;
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 40%;
    height: 100px;
    float: left;
}

.logo img {
    width: 100%;
    height: 100px;
}