@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

.header {
    position: relative;
    float: left;
    height: 100px;
    text-align: center;
    background-color: #333333;
    top: 0;
    left: 0;
    width: 100%;
}

.info {
    position: absolute;
    font-family: 'Noto Sans', sans-serif;
    left: 79%;
    top: 50%;
    color: #d6d6d6;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 20%;
    float: right;
}

.info .infoLogo {
    height: 60px;
    font-size: 20px;
    text-align: right;
}

.info .socialNetworking {
    /*     background-color: green; */
}

.info .socialNetworking .callback {
    float: left;
    width: 70%;
}

.info .socialNetworking .callback .callbackText{
    font-size: 17px;
    margin: auto;
    padding-top: 3px;
    text-align: right;
    float: right;
    color: #d6d6d6;
    width: 70%;
}

.info .socialNetworking .callback .callbackLogo {
    float: left;
    width: 30%;
    padding-right: 5px;

}

.info .socialNetworking .callback .callbackLogo img {
    float: right;
    width: 28px;
    height: 28px;
}

.info .socialNetworking .instagram {
    float: left;
    width: 15%;
}

.info .socialNetworking .instagram img {
    float: right;
    width: 28px;
    height: 28px;
}

.info .socialNetworking .facebook {
    float: left;
    width: 15%;
}

.info .socialNetworking .facebook img {
    float: right;
    width: 28px;
    height: 28px;
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 40%;
    height: 100px;
    float: left;
}

.logo img {
    width: 100%;
    height: 100px;
}