.pager {
    font-family: 'Lato', sans-serif;
    padding-top: 20px;
    font-size: 18px;
    float: left;
    width: 100%;
    position: relative;
}

.pager .pagerBody {
    display: inline-block;
}

.pagerBtn {
    transition: .5s;
}

.pagerBtn:hover {
    color: var(--hover-a-color);
    transition: .5s;
}

.pagerBodyPrev {
    padding: 5px 25px;
    float: left;
}

.pagerBodyNext {
    padding: 5px 25px;
    float: left;
}

.pagerBodyPaginationContainer {
    float: left;
}

.pagerBodyNum {
    padding: 5px 10px;
    float: left;
}

.pagerBtnActive {
    background-color: var(--hover-a-color);
}