.pagination {
    display: inline-block;
    background-color: #bb2b2b;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.page-item {
    background-color: red;
}

.pagination a.active {
    background-color: #bb2b2b;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

