.tours {
    float: left;
    width: 100%;
    height: auto;
}

ul {
    padding: 0;
}

.tour {
    /*border: 1px solid #f80707;*/
    margin-left: 0;
    padding: 30px;
}

.product-wrapper {
    padding-top: 40px;
    display: block;
    width: 100%;
    float: left;
    transition: width .2s;
}

.post-module {
    /*border: 1px solid #f1f1f1;*/
    position: relative;
    z-index: 1;
    display: block;
    background: #FFFFFF;
    text-align: center;
    /*-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);*/
    /*-moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);*/
    /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);*/
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

.post-module:hover {
    text-align: center;
    -webkit-box-shadow: 0 5px 2px -3px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 2px -3px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 3px -3px rgba(50, 50, 50, 0.1), 3px 6px 15px rgba(0, 0, 0, 0.1);
}

.post-module:hover .photo img,
.hover .photo img {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .6;
}

.post-module .photo {
    background: #ffffff;
    overflow: hidden;
    text-align: center;
}

.post-module .photo img {
    width: 100%;
    display: block;
    /*display: block;*/
    margin: 0 auto;
    /*height: 100%;*/
    display: table-cell;
    vertical-align: middle;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

.post-module .post-content {
    border: 1px solid #d0d0d0;
    float: left;
    /*height: 200px;*/
    position: absolute;
    bottom: 0;
    background: #FFFFFF;
    width: 100%;
    padding: 30px;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}

/*.post-module .post-content {*/
/*    height: 220px;*/
/*}*/

.post-module .post-content .title {
    margin: 0;
    padding: 0 0 10px;
    color: var(--first-text-color);
    /*font-size: 75px;*/
    font-weight: 700;
}

.post-module .post-content .sub_title {
    margin: 0;
    padding: 0 0 20px;
    color: var(--hover-a-color);
    /*font-size: 20px;*/
    font-weight: 400;
}

.post-module .post-content .description {
    display: none;
    color: #666666;
    /*font-size: 14px;*/
    line-height: 1.8em;
}

.post-module .post-content .tourBtn {
    border: 1px solid var(--first-text-color);
    transition: all 0.3s linear;
    width: 100%;
}

.post-module .post-content .tourBtn:hover {
    border: 1px solid var(--hover-a-color);
    background: rgba(213, 180, 91, 0.2);
    transition: all 0.3s linear;
    width: 100%;
}

.post-module .post-content .post-footer {
    float: left;
    width: 100%;
    text-align: left;
    color: #999999;
}

.post-module .post-content .post-footer .price {
    float: left;
    height: 100%;
    /*width: %;*/
    text-align: left;
}

.post-module .post-content .post-footer .duration {
    float: right;
    height: 100%;
    /*width: 50%;*/
    text-align: right;
}

@media only screen and (min-width: 300px) and (max-width: 1299px) {

    .tours {
        /*padding-top: 20px;*/
    }
    .product-wrapper {
        float: left;
        width: 100%;
    }

    .post-module {
        height: 1100px;
    }

    .post-module .photo {
        height: 800px;
    }

    .post-module .photo img {
        display: block;
        height: 100%;
        -webkit-transition: all 0.3s linear 0s;
        -moz-transition: all 0.3s linear 0s;
        -ms-transition: all 0.3s linear 0s;
        -o-transition: all 0.3s linear 0s;
        transition: all 0.3s linear 0s;
    }

    .post-module .post-content .title {
        width: 100%;
        font-size: 60px;
    }

    .post-module .post-content .post-footer {
        font-size: 50px;
    }

    .post-module .post-content .sub_title {
        font-size: 55px;
    }

    .post-module .post-content .description {
        font-size: 40px;
    }

    .post-module .post-content .tourBtn {
        height: 100px;
        line-height: 100px;
        font-size: 50px;
    }
}

@media only screen and (min-width: 1300px) {
    .product-wrapper {
        width: 33.333%;
    }

    .post-module {
        height: 570px;
    }

    .post-module .photo {
        height: 400px;
        text-align: center;
    }

    .post-module .photo img {
        display: block;
        height: 100%;
        vertical-align: middle;
        -webkit-transition: all 0.3s linear 0s;
        -moz-transition: all 0.3s linear 0s;
        -ms-transition: all 0.3s linear 0s;
        -o-transition: all 0.3s linear 0s;
        transition: all 0.3s linear 0s;
    }

    .post-module .post-content .title {
        font-size: 26px;
    }

    .post-module .post-content .post-footer {
        font-size: 20px;
    }

    .post-module .post-content .sub_title {
        font-size: 20px;
    }

    .post-module .post-content .description {
        font-size: 14px;
    }

    .post-module .post-content .tourBtn {
        padding-top: 12px;
        font-size: 35px;
        border-radius: 4px;
        height: 50px;
    }
}







/**{transition: all 0.3s linear;}*/

.hidden{
    color: #ffc9c9;
    font-size: 0;
}

.heading{
    font-family: 'Amatic SC', cursive;
    font-size: 5em;
    margin: 0;
}

.like,p{
    font-family: 'Open Sans';
}

.like-toggle{
    transition: all 0.3s linear;
    outline:none;
    box-shadow:none;
    border: none;
    width: 40px;
    height: 30px;
    font-size: 1.3em;
    border-radius: 100px;
}


.like-toggle.basic2{
    transition: all 0.3s linear;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 1.3em;
    border-radius: 100px;
    background: #ffffff;
    color: #919191;
}

.like-active.basic2{
    color: #ffc9c9;
    /*background: #F06EA9;*/
}

.like-toggle.basic2:not(.like-active):hover{
    background-color: white;
    color: #777777;
    width: 60px;
}

.like span {
    font-family: 'Lato', sans-serif;
    color: #ffc9c9;
}

.like {
    padding-left: 20px;
    float: left;
    padding-bottom: 5px;
    /*width: 20%;*/
}

.like button {
    margin: 0;
    padding: 0;
}