<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Safe and sounds tours</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css" />

    <script>
        $(
            function() {
                $.ajax("img").done(function (data) {
                    var ncarimg = data[0].id;
                    var result =
                        "<p><img src=\""
                        + "data:image/png\;base64," + ncarimg +
                        "\" alt=\"Изображения машины нет.\"></p>"
                    $("#img_с").html(result);
                });

                // $.ajax(
                //     "select?id=" + id+ "&page=" + page).done(function (data) {
                //     var car = data[0].car;
                //     var brand = car.brand;
                //     var model = car.model;
                //     var price = car.price;
                //     var power = car.power;
                //     var year = car.year;
                //     var header = "<div class=\"header\" id=\"header\">\n" +
                //         brand + " " + model +
                //         "    </div>";
                //     $("#header").html(header);
                //     var gear;
                //     if (car.mechanicGear.value) {
                //         gear = "механическая"
                //     } else {
                //         gear = "автоматическая"
                //     }
                //     var body =
                //         "<span class=\"colorText\">" + "Цена: " + "</span>" + price + " <br> " +
                //         "<span class=\"colorText\">" +"Коробка : " + "</span>" + gear + " <br> " +
                //         "<span class=\"colorText\">" +"Мощность: " + power + "</span>" + " <br> " +
                //         "<span class=\"colorText\">" +"Год изготовления: " + "</span>" + year;
                //     // + "    </div>"
                //     $("#right_c").html(body);
                //
                //     // alert(car.owner);
                //     var owner = car.owner;
                //     var phone = car.phone;
                //     var ownerBody =
                //         "<span class=\"colorText\">" + "Владелец: " + "</span>" + owner +
                //         "<span class=\"colorText\">" + " Номер телефона: " + "</span>" + phone;
                //
                //     $("#car_holder").html(ownerBody);
                //
                //
                // });

            }
        );





        function saveInfo() {
            var f = document.querySelector('input[type=file]').files[0];
            var reader = new FileReader();
            reader.onload = (function(theFile) {
                return function(e) {
                    var binaryData = e.target.result;
                    base64String = window.btoa(binaryData);
                    uploadFile(base64String);
                };
            })(f);
            reader.readAsBinaryString(f);
        }
        function uploadFile(base64String) {
            alert(base64String)
            var data = {
                "image": base64String
            };
            $.ajax({
                method: "POST",
                url:  'newCar',
                data: JSON.stringify(data),
                contentType: "application/json",
                async: false
            }).done(function(response){
                nals = response;
            });
            window.location.href = "/index";
        }
    </script>
</head>
<body>
<br>
<div class="header">
    <p class="logo">
        <pp class="img_с2" id='img_с'>logo</pp>
    </p>
    <p class="info">
        МНОГОКАНАЛЬНЫЙ
        <br>
        Круглосуточно
        <br>
        +7-916-633-58-00
    </p>
</div>
<br>
<div class="header_buttons">
    <table>
        <thead>
        <tr>
            <th scope="col">Каталог экскурсий</th>
            <th scope="col">Отзывы</th>
            <th scope="col">Контакты</th>
            <th scope="col">О нас</th>
        </tr>
        </thead>
    </table>
</div>

<div class="body">
    <table>
        <tbody>
        <tr>
            <td>
                <div class="ex">
                    <div class="photo">
                        фото
                    </div>
                    <div class="header">
                        Новодевичий монастырь с посещением Новодевичьего кладбища
                    </div>
                    <div class="type">
                        4 часа
                    </div>
                    <div class="description">
                        Вы не можете утверждать, что знаете столицу, если не знакомы с Москвой Булгаковской. Михаил Афанасьевич был не просто талантливым писателем. Он видел суть вещей и ...
                    </div>
                    <div class="price">
                        <div class="priceLabel">
                            Цена:
                        </div>
                        <div class="pricePlace">
                            100
                        </div>
                        <div class="currency">
                            $
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="ex">
                    <div class="photo">
                        фото
                    </div>
                    <div class="header">
                        Название экскурсии
                    </div>
                    <div class="type">
                        время, тип
                    </div>
                    <div class="description">
                        Вы не можете утверждать, что знаете столицу, если не знакомы с Москвой Булгаковской. Михаил Афанасьевич был не просто талантливым писателем. Он видел суть вещей и ...
                    </div>
                    <div class="price">
                        цена
                    </div>
                </div>
            </td>
            <td>
                <div class="ex">
                    <div class="photo">
                        фото
                    </div>
                    <div class="header">
                        Название экскурсии
                    </div>
                    <div class="type">
                        время, тип
                    </div>
                    <div class="description">
                        Вы не можете утверждать, что знаете столицу, если не знакомы с Москвой Булгаковской. Михаил Афанасьевич был не просто талантливым писателем. Он видел суть вещей и ...
                    </div>
                    <div class="price">
                        цена
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="ex">
                    <div class="photo">
                        фото
                    </div>
                    <div class="header">
                        Название экскурсии
                    </div>
                    <div class="type">
                        время, тип
                    </div>
                    <div class="description">
                        Вы не можете утверждать, что знаете столицу, если не знакомы с Москвой Булгаковской. Михаил Афанасьевич был не просто талантливым писателем. Он видел суть вещей и ...
                    </div>
                    <div class="price">
                        цена
                    </div>
                </div>
            </td>
            <td>
                <div class="ex">
                    <div class="photo">
                        фото
                    </div>
                    <div class="header">
                        Название экскурсии
                    </div>
                    <div class="type">
                        время, тип
                    </div>
                    <div class="description">
                        Вы не можете утверждать, что знаете столицу, если не знакомы с Москвой Булгаковской. Михаил Афанасьевич был не просто талантливым писателем. Он видел суть вещей и ...
                    </div>
                    <div class="price">
                        цена
                    </div>
                </div>
            </td>
            <td>
                <div class="ex">
                    <div class="photo">
                        фото
                    </div>
                    <div class="header">
                        Название экскурсии
                    </div>
                    <div class="type">
                        время, тип
                    </div>
                    <div class="description">
                        Вы не можете утверждать, что знаете столицу, если не знакомы с Москвой Булгаковской. Михаил Афанасьевич был не просто талантливым писателем. Он видел суть вещей и ...
                    </div>
                    <div class="price">
                        цена
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <div class="form">
        <div class="form-group col-sm-6" style="padding-right: 10px; width: 102%; margin-left: -1.35%;">
            <label for="files"></label>
            <input type="file" name="files[]" id="files" class="form-control" data-filename-placement="inside" title="Загрузите фотографию машины." />
        </div>
        <br>
        <button type="submit" class="btn-success" id="button" onclick="saveInfo()" formaction="#">Добавить автомобиль</button>
    </div>
</div>
hello body
</body>
</html>