/*calender*/

.calender {
    width: 100%;
}

.calender .calenderHeader {
    background: linear-gradient(60deg, #333333 0%, #b7b7b7 100%);
    float: left;
    color: white;
    width: 100%;
}
.calender .calenderHeader .calenderHeaderData {
    font-size: 26px;
    width: 100%;
    height: 48px;
}

.calender .calenderHeader .calenderHeaderData .calenderHeaderDataNotSelected {
    text-align: left;
    float: left;
    padding-left: 10px;
    height: 48px;
    font-size: 2vw;
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: calc(100% - 48px);
    background-color: #e09595;
}

.calender .calenderHeader .calenderHeaderData .calenderHeaderDataNotSelectedButton {
    text-align: left;
    background-color: #e09595;
    width: 48px;
    float: left;
}
.calender .calenderHeader .calenderHeaderData .calenderHeaderDataText {
    text-align: left;
    float: left;
    padding-left: 10px;
    height: 48px;
    font-size: 35px;
    width: calc(100% - 48px);
    /*background-color: #ccffca;*/
}

.calender .calenderHeader .calenderHeaderData .calenderHeaderDataButton {
    text-align: left;
    /*background-color: #e09595;*/
    width: 48px;
    float: left;
}
.calender .calenderHeader .calenderHeaderYear {
    padding-top: 10px;
    font-size: 26px;
    width: 100%;
}

.calender .calenderHeader .calenderHeaderMonths {
    /*     padding-top: px; */
    padding-bottom: 5px;
    font-size: 30px;
    width: 100%;
    float: left;
}

.calender .calenderHeader .calenderHeaderMonths .calenderHeaderMonthsBack {
    text-align: right;
    width: 40%;
    height: 30px;
    float: left;
    opacity: 1;
}

.calender .calenderHeader .calenderHeaderMonths .calenderHeaderMonthsName {
    width: 20%;
    float: right;
    height: 30px;
}

.calender .calenderHeader .calenderHeaderMonths .calenderHeaderMonthsNext {
    text-align: left;
    width: 40%;
    height: 30px;
    float: right;
}

.calender .calenderHeader .calenderHeaderMonths img {
    max-height: 100%;
}

.has-animation p, .has-animation img {
    opacity: 1;
}

.calender .calenderHeader .calenderTableHeader {
    text-align: center;
    width: 100%;
    float: left;
}

.calender .calenderHeader .calenderTableHeader .calenderTableHeaderDay {
    padding-top: 10px;
    width: 14.2857143%;
    float: left;
}

.calender .calenderBody {
    width: 100%;
}

.calender .calenderBody .calenderTable {
    table-layout: fixed;
    width: 100%;
    text-align: center;
}

.calender .calenderBody .calenderTable td {
    position: relative;
    padding: 30px;
    text-align: right;
    border: 1px solid rgb(224, 224, 224);
    font-size: 25px;
}

.calender .calenderBody .calenderTable td:hover .calenderTableCard {
    display: block;
    position: absolute;
    z-index: 9999;
    width: 200px;
    height: 50px;
}

.calenderTableLastDay {
    color: gray;
    background-color: #d7d7d7;
}

.calenderTableToday {
    color: white;
    background-color: #333333;
}

.calenderTableAvailableTour {
    background-color: #ccffca;
}

.calenderTableCard {
    display: none;
    padding: 10px 0px;
    margin-top: 17px;
    background: #f3f3f3;
    /*height: 200px;*/
    text-align: center;
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.calender .calenderBody .calenderTable td:hover .calenderTableCard {
    display: block;
    position: absolute;
    border-radius: 4px;
    z-index: 9999;
    width: 200px;
    height: 150px;
}

.calenderTableCardStartTime {
    height: 50px;
}

.calenderTableCardDate {
    width: 100%;
    font-weight: 900;
    height: 50px;
    border-radius: 4px 4px 0 0;
}

.calenderTableCard .customButton {
    height: 50px;
}

.calenderTableCard .customButton {
    height: 50px;
    background-color: rgb(138, 138, 138);
    float: left;
    width: 100%;
    color: black;
    font-family: Raleway;
    text-align: center;
}

.calenderTableCard .customButton a {
    float: left;
    height: 50px;
    vertical-align: middle;
    text-decoration: none;
    width: 100%;
    background-color: rgb(138, 138, 138);
    font: 30px Raleway;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    cursor: pointer;
}

.calenderTableCard .customButtonPullDown a:before {
    position: absolute;
    width: 100%;
    vertical-align: middle;
    height: 2px;
    left: 0;
    top: 0;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

.calenderTableCard .customButtonPullDown a:hover:before {
    height: 110%;
    vertical-align: middle;
}