.tourPrice {
    width: 100%;
    float: left;
    padding-top: 40px;
    height: 100%;
}

.tourPrice .tourPriceEconomy {
    margin-top: 15px;
    float: left;
    background-color: var(--second-primary-color);
    /*height: 490px;*/
    width: calc(100% / 3);
}

.tourPrice .tourPricePremium {
    width: calc(100% / 3);
    /*height: 520px;*/
    float: left;
    background-color: var(--first-primary-color);
}

.tourPrice .tourPriceGroup {
    margin-top: 15px;
    width: calc(100% / 3);
    float: left;
    /*height: 490px;*/
    background-color: var(--second-primary-color);
}

.tourPrice .tourPriceEconomyCard {
    position: relative;
    float: left;
    width: 100%;
    height: 75px;
    border-bottom: 1px solid var(--first-primary-color);
}

.tourPrice .tourPriceEconomyCard p {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 35px;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%)
}

.tourPrice .tourPricePremiumCard {
    position: relative;
    float: left;
    width: 100%;
    height: 75px;
    border-bottom: 1px solid var(--second-primary-color);
}

.tourPrice .tourPricePremiumCard p {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 35px;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%)
}

.tourPrice .tourPriceGroupCard {
    position: relative;
    float: left;
    width: 100%;
    height: 75px;
    vertical-align: auto;
    font-size: 35px;
    border-bottom: 1px solid var(--first-primary-color);
}

.tourPrice .tourPriceGroupCard p {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 35px;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%)
}

.tourPrice .tourPriceString {
    margin-top: 20px;
    width: 100%;
    float: left;
    height: 60px;
}

.tourPrice .tourPriceStringPr {
    margin-top: 28px;
}

.tourPrice .tourPriceString .tourPriceStringIcon {
    width: 60px;
    float: left;
    height: 60px;
    fill: var(--first-primary-color);
}

.tourPrice .tourPriceString .tourPriceStringIconPr {
    fill: var(--second-primary-color);
}

.tourPrice .tourPriceString .tourPriceStringText {
    position: relative;
    float: left;
    width: calc(100% - 60px);
    height: 60px;
}

.tourPrice .tourPriceString .tourPriceStringText p {
    position: absolute;
    top: 50%;
    left: 3%;
    font-size: 25px;
    margin: 0 -50% 0 0;
    transform: translate(0, -50%)
}

.tourPrice .tourPriceBtn {
    margin-top: 20px;
    margin-bottom: 2px;
    float: left;
    width: 100%;
    height: 80px;
}

.tourPrice .tourPriceBtn .tourPriceActiveBtn {
    border-radius: 4px;
    position: relative;
    border: 1px solid var(--first-primary-color);
    margin-top: 10px;
    margin-left: 2%;
    margin-right: 10px;
    width: 96%;
    float: left;
    height: 60px;
    transition: all 0.3s
}

.tourPrice .tourPriceActiveBtn p {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%)
}

.tourPrice .tourPriceBtn .tourPriceActiveBtnPr {
    border: 1px solid var(--second-primary-color);
}

.tourPrice .tourPriceBtn .tourPriceActiveBtn:hover {
    background-color: var(--first-primary-color);
    color: var(--hover-a-color);
    transition: all 0.3s
}

.tourPrice .tourPriceBtn .tourPriceActiveBtnPr:hover {
    background-color: var(--second-primary-color);
    color: var(--hover-a-color);
}

.tourPrice .tourPriceBtn .tourPriceActiveBtn a {
    width: 100%;
    height: 100%;
}

.tourPrice .tourPriceBtn .tourPriceActiveBtn a p:hover {
    color: var(--hover-a-color);
}