.tourPrice {
    padding-top: 40px;
}

.tourPrice .tourPriceHeader {
    font-size: 40px;
}

.tourPrice .tourPriceTable {
    float: left;
    table-layout: fixed;
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.tourPrice .tourPriceTable .tourPriceTableTd {
    float: left;
    border: 1px solid gray;
    border-radius: 4px;
    margin-left: 10%;
    width: 80%;
    text-align: center;
    font-size: 40px;
}

.tourPrice .tourPriceTable .tourPriceTableTd .tourPriceTableTdName {
    background-color: gray;
    float: left;
    width: 100%;
}

.tourPrice .tourPriceTable .tourPriceTableTd .tourPriceTableTdAuto {
    padding-top: 5%;
    float: left;
    width: 100%;
}

.tourPrice .tourPriceTable .tourPriceTableTd .tourPriceTableTdAuto .tourPriceTableTdAutoLogo {
    float: left;
    width: 20%;
}

.tourPrice .tourPriceTable .tourPriceTableTd .tourPriceTableTdAuto .tourPriceTableTdAutoName {
    float: left;
    width: 80%;
}

.tourPrice .tourPriceTable .tourPriceTableTd .tourPriceTableTdPrice {
    padding-top: 5%;
    float: left;
    width: 100%;
}

.tourPrice .tourPriceTable .tourPriceTableTd .tourPriceTableTdPrice .tourPriceTableTdPriceLogo {
    float: left;
    width: 20%;
}

.tourPrice .tourPriceTable .tourPriceTableTd .tourPriceTableTdPrice .tourPriceTableTdValue {
    padding-left: 5%;
    float: left;
    text-align: left;
    width: 80%;
}

.tourPrice .tourPriceTable .tourPriceTableTd img {
    padding-left: 10%;
    border-radius: 4px;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.tourPrice .tourPriceTable .customButton {
    padding-top: 20px;
    float: left;
    width: 100%;
    color: black;
    font-family: Raleway;
    text-align: center;
}

.customButton a {
    float: left;
    text-decoration: none;
    width: 100%;
    background-color: rgb(138, 138, 138);
    font: 40px Raleway;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.customButtonPullDown a:before {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 0;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

.customButtonPullDown a:hover:before {
    height: 110%;
}