body {
    height: 100%;
    min-height: 100%;
    width: 100%;
}

.cb {
    width: 100%;
    float: left;
    height: 100%;
    min-height: 100%;
}

.chooseTourBody {
    height: 100%;
    min-height: 100%;
    border-radius: 4px;
    left: 10%;
    margin-left: auto;
    margin-right: auto;
}

.tourDescription {
    font-family: var(--first-font-style);
    list-style: none;
    position: relative;
    width: 100%;
    letter-spacing: 2px;
}

.tourDescription p {
    list-style: none;
    font-size: 20px;
    position: relative;
    letter-spacing: 2px;
    transition: 0.3s all linear;
    color: rgb(87, 87, 87);
}

.tourDescription strong {
    color: var(--first-text-color);
    font-size: 25px;
}

.tourDescription li {
    list-style: none;
    padding: 7px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 5px solid var(--first-text-color);
    box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, .1),
    0 0 0 0 rgba(0, 0, 0, .1);
    font-size: 18px;
    letter-spacing: 2px;
    transition: 0.3s all linear;
    color: rgb(87, 87, 87);
}

@media only screen and (min-width: 300px) and (max-width: 1299px) {
    .chooseTourBody {
        width: 95%;
    }

    .tourDescription p {
        font-size: 35px;
        text-align: justify;
        color: #454545;
    }

    .tourDescription strong {
        font-size: 45px;
        text-align: justify
    }

    .tourDescription li {
        list-style: none;
        padding: 7px 20px;
        margin-bottom: 10px;
        border-radius: 5px;
        border-left: 5px solid var(--first-text-color);
        box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, .1),
        0 0 0 0 rgba(0, 0, 0, .1);
        font-size: 35px;
        text-align: justify;
        color: #454545;
    }
}

@media only screen and (min-width: 1300px) {
    .chooseTourBody {
        width: 80%;
    }
}